.main {
  padding: 2rem;
  min-height: 100vh;
}

.flashcardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.title {
  text-align: center;
}

.fileInput {
  margin-bottom: 20px;
  display: block;
}

.practiceModeButton {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.practiceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
