.main {
    padding: 2rem;
    min-height: 100vh;
}

.flashcardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.title {
    text-align: center;
}

.fileInput {
    margin-bottom: 20px;
    display: block;
}
